/* Background styling */
body {
  background: linear-gradient(to right, violet, grey, violet, grey, violet);
  margin: 0;
  padding: 0;
}

/* Link styles */
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Preserve the default link color */
}

/* Header (h1) styling */
h1 {
  background: linear-gradient(to right, violet, grey, violet, grey, violet);
  font-size: 8vw; /* Responsive text size based on screen width */
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin: 5vh 0; /* Top and bottom margins for the h1 element */
  animation: fadeInText 1s ease-in-out forwards; /* Text appearance animation */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 8vw; /* Adjust text size for smaller screens */
    margin: 5vh 0; /* Adjust top and bottom margins for smaller screens */
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Styling for the main circle */
.circle {
  width: 30vw; /* Width of the circle */
  height: 30vw; /* Height of the circle */
  background-color: #330033; /* Background color of the circle */
  border-radius: 50%; /* Creating a circular shape */
  display: flex;
  justify-content: center; /* Centering horizontally */
  align-items: center; /* Centering vertically */
  position: absolute; /* Positioning */
  top: 60%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translate(-50%, -50%); /* Centering the circle */
  overflow: hidden; /* Hiding overflow content */
  opacity: 0; /* Initial transparency */
  animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
  cursor: pointer; /* Cursor style on hover */
}

/* Styling for text inside the main circle */
.circle h2 {
  color: white; /* Text color */
  margin: 0; /* Margin for the text */
  opacity: 0; /* Initial transparency */
  animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Styling for circles 2 and 3 */
.circle2,
.circle3 {
  /* Circle styling */
  width: 20vw; /* Width of the circle */
  height: 20vw; /* Height of the circle */
  background-color: #330033; /* Background color */
  border-radius: 50%; /* Creating a circular shape */
  display: flex;
  justify-content: center; /* Centering horizontally */
  align-items: center; /* Centering vertically */
  position: absolute; /* Positioning */
  top: 50%; /* Position from the top */
  left: 50%; /* Position from the left */
  transform: translateX(-50%); /* Centering the circle */
  overflow: hidden; /* Hiding overflow content */
  opacity: 0; /* Initial transparency */
  animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
  cursor: pointer; /* Cursor style on hover */
}

/* Styling for text inside circles 2 and 3 */
.circle2 h2,
.circle3 h2 {
  /* Text styling */
  color: white; /* Text color */
  margin: 0; /* Margin for the text */
  opacity: 1; /* Initial opacity */
  position: absolute;
  top: 40%;
  left:2%;

  text-align: center; /* Centering text horizontally */
  font-size: 3vw;
}



/* Styling for the notes container */
.notes-container {
  /* Notes container styling */
  position: absolute; /* Positioning */
  height: 350px; /* Height of the container */
  width: 38.5%; /* Width of the container */
  top: 50%; /* Position from the top */
  left: 48%; /* Position from the left */
  transform: translate(-50%, -50%); /* Centering the container */
  display: none; /* Initially hidden */
  animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the notes form */
.notes-form {
  /* Notes form styling */
  background-color: #330033; /* Background color */
  padding: 20px; /* Padding */
  border-radius: 10px; /* Border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
  height: 100%; /* Height of the form */
  width: 100%; /* Width of the form */
}

/* Styling for form inputs in the notes form */
.notes-form textarea {
    /* Form inputs styling */
    background: linear-gradient(to right, indigo, grey); /* Background gradient */
    color: white; /* Text color */
    width: 100%; /* Szerokość inputu - pełna szerokość notes-form */
    height: 80%;
    max-width: 100%; /* Maksymalna szerokość inputu - przykładowo */
    box-sizing: border-box; /* Sizing model */
    resize: none; /* Prevent textarea resizing */
    overflow: auto; /* Enable scrollbars if content exceeds textarea */
    padding: 10px; /* Padding for textarea */
    border-radius: 5px; /* Border radius for textarea */
    border: none; /* Remove default textarea border */
    margin-bottom: 10px; /* Bottom margin for inputs */
    margin-top: 10px; /* Top margin for inputs */
}

/* Styling for form inputs in the notes form */
.notes-form input {
  /* Form inputs styling */
  background: linear-gradient(to right, indigo, grey); /* Background gradient */
  color: white; /* Text color */
}

/* Placeholder color for form inputs in the notes form */
.notes-form textarea::placeholder,
.notes-form input::placeholder {
  color: #9595b7; /* Placeholder text color */
}




/* Styling for the circle-save button */
.circle-save {
  /* Circle save button styling */
  width: 10vw; /* Width of the button in viewport width units */
  height: 10vw; /* Height of the button in viewport height units */
  min-width: 100px; /* Minimum width */
  min-height: 100px; /* Minimum height */
  max-width: 200px; /* Maximum width */
  max-height: 200px; /* Maximum height */
  background-color: #330033; /* Background color */
  border-radius: 50%; /* Creating a circular shape */
  position: absolute; /* Positioning */
  bottom: -90%; /* Position from the bottom */
  left: 53%; /* Position from the left */
  transform: translateX(-50%); /* Centering the button */
  animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
  cursor: pointer; /* Cursor style on hover */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
}

/* Styling for text inside the circle-save button */
.circle-save h2 {
  /* Text styling */
  color: white; /* Text color */
  text-align: center; /* Centering text horizontally */
  margin: 0; /* Margin for the text */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



/* Styling for the arrows container */
/* Styling for the arrows container */
.arrows_container {
  /* Arrows container styling */
  position: fixed; /* Positioning */
  bottom: 20px; /* Position from the bottom */
  right: 20px; /* Position from the right */
  display: flex; /* Flex display */
  align-items: center; /* Centering vertically */
  padding: 0 20px; /* Padding */
  box-sizing: border-box; /* Border box sizing */
}

/* Styling for left and right arrows */
.fas.fa-chevron-left{
  /* Left and right arrows styling */
  height: 70px; /* Height of the arrows */
  width: 70px; /* Width of the arrows */
  background-color: gray; /* Background color */
  border-radius: 50%; /* Creating a circular shape */
  display: flex; /* Flex display */
  align-items: center; /* Centering vertically */
  justify-content: center; /* Centering horizontally */
  color: white; /* Text color */
  cursor: pointer; /* Cursor style on hover */
  z-index: 999; /* z-index for stacking */
  position: relative; /* Positioning */
  margin-right: 20px; /* Margin to separate the arrows from circle-save */
}

.container_title {
    background: purple;
    position: absolute; /* Positioning */
    height: 15vw;; /* Height of the container */
    width: 38.5%; /* Width of the container */
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Centering the container */
    animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Titles_list{
    text-align:center;
    font-size: 2vw;
    width:100%;
    background: linear-gradient(to right, violet, grey, violet, grey, violet);
    position:absolute;
    border: solid black 5px;
}

